# Start the service with the command 'docker-compose up -d'

version: '3.9'

services:
  mongo-slp-indexer:
    image: mongo
    container_name: mongo-slp-indexer
    ports:
      - '5555:27017' # <host port>:<container port>
    volumes:
      - ../data/database:/data/db
    command: mongod --logpath=/dev/null # -- quiet
    restart: always

  slp-indexer:
    build: .
    container_name: slp-indexer
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '10'
    mem_limit: 500mb
    links:
      - mongo-slp-indexer
    ports:
      - '5010:5010' # <host port>:<container port>
    volumes:
      - ../data/ipfsdata:/home/safeuser/psf-slp-indexer/.ipfsdata
      - ../data/leveldb:/home/safeuser/psf-slp-indexer/leveldb
    restart: always
